body {
    background: #000000;
}

.section__suptitle {
    color: #fff;
}
.section__title {
    color: #fff;
}
.section__text {
    color: #fff;
}


.theme {
    background: #222222;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}
